/* button */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 1.5rem;
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.button--white {
  border: 0.125rem solid var(--white);
}

.button--white:hover {
  color: var(--black);
  background-color: var(--white);
}

.button--white:active {
  color: var(--white);
  background-color: transparent;
}

.button--yellow {
  border: 0.125rem solid var(--yellow);
}

.button--yellow:hover {
  color: var(--black);
  background-color: var(--yellow);
}

.button--yellow:active {
  color: var(--white);
  background-color: transparent;
}

.button--purple {
  /* border: 0.125rem solid var(--yellow); */
  background-color: var(--dark-purple);
}

.button--purple:hover {
  background-color: var(--purple);
}

.button--purple:active {
  color: var(--white);
  background-color: var(--dark-purple);
}

.button--transparent:hover {
  border: 0.125rem solid var(--white);
}

.button--transparent:active {
  color: var(--black);
  background-color: var(--white);
}

.rounded {
  border-radius: 0.5rem;
}

.rounded--xl {
  border-radius: 1.5rem;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--dark-gray);
  border: 0.125rem solid transparent;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.badge span {
  display: none;
}

.badge:hover {
  border: 0.125rem solid var(--dark-purple);
}

.badge:hover span {
  display: block;
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1.5rem;
}

@media (hover: none) {
  .badge span {
    display: block;
    margin-left: 1rem;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.5rem;
  }
}
